<nav>
  <div class="site-title">
    <a href="http://localhost:3000"><h1>Campus</h1></a>
    <p>Let Get Things Done Differently</p>
  </div>
  <ul>
    <li><a href="http://localhost:3000/shop">Store</a></li>
    <li><a href="http://localhost:3000/service">Service</a></li>
    <li><a href="http://localhost:4001">Connection</a></li>
  </ul>
</nav>
